.icon {
  display: inline-block;
  background-repeat: no-repeat;
}

.search-wrap {
  position: absolute;
  left: 15px;
  .screen({top: 5px;},{top: 40px;});
  display: block;
  z-index: 1;
  .screen({ width: 25px;},{ width: 40px;});
  .screen({height: 25px;},{height: 40px;});
  margin-left: 0;
  padding: 0;
  border: 2px solid white;
  border-radius: 20px;
  -moz-transition: all 0.25s ease 0.3s;
  -o-transition: all 0.25s ease 0.3s;
  -webkit-transition: all 0.25s ease;
  -webkit-transition-delay: 0.3s;
  transition: all 0.25s ease 0.3s;
}
.search-wrap:before {
  top: 90%;
  left: 90%;
  .screen({ width: 10px;},{ width: 16px;});
  height: 2px;
  background-color: white;
  border-radius: 1px;
  -moz-transition: width 0.15s ease 0.55s;
  -o-transition: width 0.15s ease 0.55s;
  -webkit-transition: width 0.15s ease;
  -webkit-transition-delay: 0.55s;
  transition: width 0.15s ease 0.55s;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
.search-wrap input {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0 30px 0 15px;
  font-size: 14px;
  line-height: 38px;
  opacity: 0;
  color: white;
  background-color: transparent;
  -moz-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

.eks {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 20;
  .screen({ width: 23px;},{ width: 30px;});
  .screen({height: 23px;},{height: 30px;});
  cursor: pointer;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.eks:before, .eks:after {
  right: 5px;
  height: 2px;
  width: 2px;
  border-radius: 1px;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.eks:before {
  top: 0;
  background-color: white;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.eks:after {
  bottom: 0;
  background-color: white;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.search-wrap.open {
  .screen({ width: 100px;},{ width: 160px;},{ width: 320px;});
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.search-wrap.open:before {
  width: 0;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.search-wrap.open input {
  opacity: 1;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.search-wrap.open .eks:before, .search-wrap.open .eks:after {
  width: 15px;
  right: 12px;
}
.search-wrap.open .eks:before {

  .screen({ top: 6px;},{ top: 9px;});
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.search-wrap.open .eks:after {
  .screen({ bottom: 5px;},{ bottom: 9px;});
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.search-wrap:before, .eks:before, .eks:after {
  content: "";
  position: absolute;
  display: block;
}
