@base-font : 'UTMAvo', sans-serif;
@base-font-bold : 'UTMAvoBold', sans-serif;
@base-font-bold-italic : 'UTMAvoBoldItalic', sans-serif;
@base-font-italic : 'UTMAvoItalic', sans-serif;
@text-color: #000000;
@bg-color: #ae091e;
@bg-color-home: #4a116b;
@main-color: #ae091e;
@title-color: #00bff3;

@screen-xs:                        480px;
@screen-xs-min:                    @screen-xs;
@screen-sm:                        768px;
@screen-sm-min:                    @screen-sm;
@screen-md:                        992px;
@screen-md-min:                    @screen-md;
@screen-lg:                        1200px;
@screen-lg-min:                    @screen-lg;
@screen-xl:                        1600px;
@screen-xl-min:                    @screen-xl;
@screen-xs-max:                    ( @screen-sm-min - 1 );
@screen-sm-max:                    ( @screen-md-min - 1 );
@screen-md-max:                    ( @screen-lg-min - 1 );
@screen-lg-max:                    ( @screen-xl-min - 1 );