#header {
  .top-header {
    .logo-block {
      display: block;
      text-align: center;
      .screen({ width: 30%; }, { width: 100%; });
      .screen({ margin: 5px auto 0; }, { margin: 10px auto 25px; });
      a {
        display: inline-block;
        text-align: center;
        img {
          display: block;
          width: auto;
        }
      }
    }
  }
  .body-header {
    .screen({ position: absolute; }, { position: relative; });
    .screen({ right: 0; }, { right: auto; });
    .screen({ top: 0; }, { top: auto; });
    .navbar-toggle {
      .border-radius(50%);
      padding: 6px 7px;
      border: 1px solid white;
      span {
        width: 15px;
        background-color: white;
      }
    }
    .galaxy-nav {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      position: relative;
      z-index: 10;
      .screen({ .border-radius(4px); }, { .border-radius(0); });
      .screen({ padding: 15px; }, { padding: 0; });
      .screen({ background-color: @main-color; }, { background-color: transparent; });
      li {
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
        .screen({ width: 100%; }, { width: 160px; });
        .screen({ min-height: 35px; }, { min-height: 65px; });
        &:hover, &:focus {
          background-color: transparent;
        }
        a {
          position: relative;
          display: block;
          color: white;
          vertical-align: top;
          .screen({ width: 100%; }, { width: 160px; });
          .screen({ padding: 0 0 0 40px; }, { padding: 0 0 0 70px; });
          .screen({ height: 25px; }, { height: 50px; });
          span {
            position: absolute;
            text-align: left;
            display: block;
            top: 50%;
            .screen({ left: 40px; }, { left: 70px; });
            .translate(0, -50%);
          }
          i {
            &.icon {
              position: absolute;
              left: 0;
              top: 0;
              width: 60px;
              height: 61px;
              .screen({ width: 30px; }, { width: 60px; });
              .screen({ height: 31px; }, { height: 61px; });
              &.login {
                background: url("../img/icon-header/login.png") no-repeat center/cover;
              }
              &.color {
                background: url("../img/icon-header/color.png") no-repeat center/cover;
              }
              &.paint-can {
                background: url("../img/icon-header/paint-can.png") no-repeat center/cover;
              }
              &.galaxy {
                background: url("../img/icon-header/galaxy.png") no-repeat center/cover;
              }
              &.paint {
                background: url("../img/icon-header/paint.png") no-repeat center/cover;
              }
              &.location {
                background: url("../img/icon-header/location.png") no-repeat center/cover;
              }
            }
          }
          &:hover, &:focus {
            .transition();
            background-color: transparent;
            span, i {
              opacity: 0.85;
              .transition();
            }
          }
        }
      }
    }
  }
}